@model int

@switch (Model)
{
    case 0:
        <span class="label label-primary">Root</span>
        break;
    case 1:
        <span class="label label-info">1st</span>
        break;
    case 2:
        <span class="label label-warning">2nd</span>
        break;
}